@use '@gear-js/ui/variables' as *;

.wallet {
  display: flex;
  align-items: center;
  position: relative;
  color: rgb(240, 6, 205);
  
}

.balance {
  margin-right: 25px;
  font-size: $fontSizeMedium;
  color: rgb(240, 6, 205);
}

.currency {
  color: rgb(240, 6, 205);
}
