@use '@gear-js/ui/variables' as *;

.button {
  background-color: transparent;

  &:hover {
    background-color: white;
  }
}

.active {
  
  background-color: white;
  cursor: default;

  &:hover {
    background-color: white;
  }
}
