@use '@gear-js/ui/variables' as *;

.card {
  padding: 15px 20px;
  font-size: $fontSizeMedium;
  border: 1px solid;
  border-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0) 85px) 1;
  border-radius: $borderRadius;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.heading {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  color: #e80b9d;
}

.text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-family: Syncopate;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}
