
  #root{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  body{
    background: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
  }

  

  h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 50px;
  }
  
  .aumento{
    transition: 0.55;
    animation: ease-in;
}

 .aumento:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 0px 0px;
}

 .carousel{

  max-width: 1650px;
  margin: 0 auto;
  overflow: hidden;

}
 .carousel_items{
  display: flex;
  animation: carousel 4s linear infinite;


}
  .carousel_img{
    display: block;
    width: 640px;
    object-fit: cover;

  }
  @keyframes carousel
  {
    100%
    {
      transform: translateX(-2560px);
    }
  }