

.nft {
  color: #e80b9d;
  display: block;
  height: 100%;
}

.image {
  color: #e80b9d;
  display: block;
  margin: 0 auto 30px;
  max-width: 250px;
  height: auto;
  max-height: 250px;
  border-radius: 10px;
}

.heading,
.text {
  font-size: 20px;
  text-align: center;
}

.heading {
  color: #e80b9d;
  margin-bottom: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.text {
  color: #e80b9d;
}
